.menu-items img {
  width: 150px;
}
.menu-items a {
  color: black;
  font-size: 22px;
  font-weight: 600;
  margin-right: 30px;
}

.sign-up-btn {
  font-size: 18px;
  color: white;
  background-color: #f91944;
  padding: 0 30px;
  border: none;
  border-radius: 30px;
}
