.menu-bar img {
  width: 200px;
}
.menu-bar a {
  color: black;
  font-size: 22px;
  font-weight: 600;
  margin-right: 30px;
  transition: 0.5s;
}
.menu-bar a:hover {
  color: #f91944;
}

.cart-badge {
  font-size: 16px;
  background-color: #f91944 !important;
  border-radius: 50%;
  padding: 3px 4px;
  top: -18px;
  position: relative;
}

.logout-btn {
  color: black;
  font-size: 22px;
  font-weight: 600;
  margin-right: 30px;
  border: none;
  background-color: white;
  transition: 0.5s;
}
.logout-btn:hover {
  color: #f91944;
  background-color: white;
}

.sign-up-btn {
  font-size: 20px;
  color: white;
  background-color: #f91944;
  border: 1px solid #f91944 !important;
  padding: 0 30px;
  border: none;
  border-radius: 30px;
  transition: 0.5s;
}
.sign-up-btn:hover {
  border: 1px solid black !important;
  background-color: black;
}

.user-img {
  width: 50px !important;
}

@media only screen and (max-width: 576px) {
  .menu-bar a {
    text-align: center;
  }
}
